*{
    margin: 0;
    padding: 0;
}

.Main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top right, #65dfc9, #6cdbed);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Glass {
    width: 60%;
    height: 80vh;
    background: white;
    background: linear-gradient( 
    to bottom right, 
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    z-index: 1;
}

@media screen and (max-width:650px) {
    .Glass {
        width: 90%;
     }
}

.Circle1,
.Circle2{
    height: 200px;
    width: 200px;
    background: white;
    position: absolute;
    background: linear-gradient( 
        to bottom right, 
        rgba(255, 255, 255, 0.9), 
        rgba(255, 255, 255, 0.1));
        border-radius: 50%;
}

.Circle1{
    top: 25px;
    right: 10rem;
}

.Circle2 {
    bottom: 15px;
    left: 10rem;
}